@font-face {
    font-family: Open-Sans; 
    src: url(fonts/open-sans.ttf); 
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}

ul{
    list-style:none;
}
  
ul.nav{
    width:750px;
    height: 60px;
    margin:30px auto;
    background-color:#232325;
    padding-left: 10px;
}
.nav li{
    float:left;
    position:relative;
	margin-top: 10px;
	display: block;
}
 
.nav li a{
    display:block;
    font:14px/1.2em Open-Sans,Arial;
    color:#fff;
    padding:10px 20px;
    text-decoration:none;
}
 
.nav li a:hover {
    color: #f9d191;
}
 
.nav li .sub-menu li .lateral-menu{
	display: none;
	width: 180px;
	position: absolute;
	top: 0;
	left: 100%;
	background:#232325;
	padding-left:5px;
}
.nav li .sub-menu li:hover .lateral-menu{
	display: block;
}


.nav li .sub-menu{
    display:none;
    width:193px;
    position:absolute;
    top:100%;
    left:0;
    padding-left: 10px;
    background:#232325;
}
 
.nav li .sub-menu li{
    float:none;
}
 
.nav li:hover .sub-menu{
    display:block;    
}

.nav li:hover img.set{
transform:rotate(360deg);
}
img.set{
	vertical-align: middle;
	transition:2s;
	margin-top:-5px;
}
form input.search-input{
	width: 250px;
	height: 30px;
	padding-left:10px;
	margin-left: 20px;
	margin-top: 2px;
	border: 3px solid #409679;
	background-color: #409679;
	font-size: 14px;
	position: relative;
}
.search-input::-webkit-input-placeholder {color:#fff;}
.search-input::-moz-placeholder          {color:#fff;}
.search-input:-moz-placeholder           {color:#fff;}
.search-input:-ms-input-placeholder      {color:#fff;}
form button.btn-search{
	background-color: #33795f;
	border: 3px solid #33795f;
	cursor: pointer;
	position: absolute;
	margin-top:-38px;
	margin-left: 238px; 
}